<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <title>Department Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}">
</head>
<body>
<div class="container" style="color: #63737d; margin-top: 10px">
    <div class="jumbotron">
        <h1 style="color: #4b8f95">Department Management</h1>
        <br />

        <form action="#" th:action="@{/processDepartment}" th:object="${department}" method="post">
            <input type="hidden" th:field="*{dept_id}" />
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Department Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" th:field="*{deptName}"/>
                    <span th:if="${#fields.hasErrors('deptName')}"
                          th:errors="*{deptName}"></span><br />
                </div>
            </div>

            <input type="submit" class="btn btn-info" value="Add Department"/>
        </form>
    </div>
</div>

</body>
</html>